@{
    ViewBag.Title = "Order Placed";
}

<h1 class="text-primary btn btn-outline-primary">Order Successfully Placed!</h1>

<a asp-action="index" asp-controller="home">
    Click here to navigate to the home page
</a>